    <nav class="navbar navbar-expand-lg navbar-light bg-danger" style="height: 90px;">
        <div class="container">
            <a class="navbar-brand" href="Index.html">icon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" style="font-size: 25px;">
                    <li class="nav-item ">
                        <a class="nav-link"   href="Index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/menus" href="Menu.html">Menus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Register.html">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
