
<header class="border border-3 border-warning bg-secondary"></header>
<h2 class="text-center">{{applicationName}}</h2>
<app-navbar [brandname]= "applicationName"></app-navbar>
<!-- 
<select [ngModel]="sortorder">
    <option value="asc"> asc</option>
    <option value="desc">desc</option>
</select>

<select [ngModel]="sortby">
<option value="empid"> Employee Id</option>
<option value="empName"> Employee Name </option>
<option value="basicsal"> Employee Salary</option>
<option value="joiningDate">  Employee Joining Date </option>
</select> -->


